{{- if (eq .chezmoi.hostname "pergamon") -}}
backend = "glx";
glx-no-stencil = true;
glx-no-rebind-pixmap = true;
unredir-if-possible = true;
vsync = true;
{{- end }}

# Shadow
shadow = true;

shadow-radius = 5;
shadow-offset-x = -5;
shadow-offset-y = -5;
shadow-opacity = 0.6;

# colors!
# shadow-red = 0.1
# shadow-blue = 0.2
# shadow-green = 0.1

shadow-exclude =
[
    "class_g = 'slop'", # maim
    "class_g = 'GLava'",
    "class_g = 'TelegramDesktop'",
    "class_g = 'zoom'",
    "name = 'Notification'"
];
shadow-ignore-shaped = false; # don't draw on shaped windows

# Opacity
inactive-opacity = 1;
active-opacity = 1;
frame-opactity = 1;
inactive-opacity-override = false;
detect-client-opactiy = true

# Fading
fading = true;
fade-delta = 4;
fade-in-step = 0.03;
fade-out-step = 0.03;

# Window type settings
wintypes:
{
  tooltip = { fade = true; shadow = false; opacity = 0.9; focus = true; };
  menu = { shadow = false; };
  dropdown_menu = { fade = true; shadow = false; };
  popup_menu =  { fade = true; shadow = false; };
  utility =  { shadow = false; };
};
