# general
config.load_autoconfig()
c.content.autoplay = False
c.backend = "webengine"
c.completion.height = "30%"
c.url.start_pages = ["https://nahsi.dev/#homelab"]
c.url.default_page = "https://nahsi.dev/#homelab"
c.spellcheck.languages = ["en-US", "ru-RU"]
config.source("colors.py")

c.zoom.default = "150"

c.downloads.location.directory = "$XDG_DOWNLOAD_DIR"

# bookmark links
c.aliases.update({ 'link': 'open https://links.service.consul/bookmarks/new?url={url}&auto_close'})

# fonts
c.fonts.default_family = ["Fira Sans", "Roboto", "Noto Sans"]
c.fonts.default_size = "10pt"

c.fonts.keyhint = "12pt monospace"
c.fonts.statusbar = "12pt monospace"
c.fonts.completion.category = "bold 10pt monospace"
c.fonts.completion.entry = "10pt monospace"

c.fonts.web.family.fixed = "Fira Code"

# searches
c.url.searchengines["DEFAULT"] = "https://duckduckgo.com/?q={}"
c.url.searchengines["aw"] = "https://wiki.archlinux.org/?search={}"
c.url.searchengines["gw"] = "https://wiki.gentoo.org/index.php?search={}&go=Go"
c.url.searchengines["yt"] = "https://www.youtube.com/results?search_query={}"
c.url.searchengines["w"] = "https://secure.wikimedia.org/wikipedia/en/w/index.php?search={}"
c.url.searchengines["gg"] = "http://www.google.com/search?hl=en&q={}"
c.url.searchengines["gh"] = "https://github.com/search?q={}&type=Code"

# keys
config.bind("e", "spawn mpv {url}")
config.bind("E", "hint links spawn mpv {hint-url}")
config.bind(",p", "spawn --userscript qute-bitwarden -p 'rofi -theme base16-tomorrow -dmenu -p \"Master Password\" -password -lines 0'  -d 'rofi -theme base16-tomorrow -dmenu -i -p Bitwarden'")
config.bind(",e", "open-editor")
config.bind("<Ctrl-e>", "open-editor", mode="insert")

# map Russian layout in normal mode
c.bindings.key_mappings = {
    'Й': 'Q', 'й': 'q',
    'Ц': 'W', 'ц': 'w',
    'У': 'E', 'у': 'e',
    'К': 'R', 'к': 'r',
    'Е': 'T', 'е': 't',
    'Н': 'Y', 'н': 'y',
    'Г': 'U', 'г': 'u',
    'Ш': 'I', 'ш': 'i',
    'Щ': 'O', 'щ': 'o',
    'З': 'P', 'з': 'p',
    'Х': '{', 'х': '[',
    'Ъ': '}', 'ъ': ']',
    'Ф': 'A', 'ф': 'a',
    'Ы': 'S', 'ы': 's',
    'В': 'D', 'в': 'd',
    'А': 'F', 'а': 'f',
    'П': 'G', 'п': 'g',
    'Р': 'H', 'р': 'h',
    'О': 'J', 'о': 'j',
    'Л': 'K', 'л': 'k',
    'Д': 'L', 'д': 'l',
    'Ж': ':', 'ж': ';',
    'Э': '"', 'э': '\'',
    'Я': 'Z', 'я': 'z',
    'Ч': 'X', 'ч': 'x',
    'С': 'C', 'с': 'c',
    'М': 'V', 'м': 'v',
    'И': 'B', 'и': 'b',
    'Т': 'N', 'т': 'n',
    'Ь': 'M', 'ь': 'm',
    'Б': '<', 'б': ',',
    'Ю': '>', 'ю': '.',
    ',': '?', '.': '/',
}
