Xcursor.theme: Adwaita
Xft.autohint: 0
Xft.lcdfilter: lcdnone
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: none
{{ if eq .chezmoi.hostname "pergamon" -}}
Xft.dpi: 230
{{ else if eq .chezmoi.hostname "miletos" -}}
Xft.dpi: 160
{{- end }}

! Base16 Tomorrow
! Author: Chris Kempson (http://chriskempson.com)

! base00: #ffffff
! base01: #e0e0e0
! base02: #d6d6d6
! base03: #8e908c
! base04: #969896
! base05: #4d4d4c
! base06: #282a2e
! base07: #1d1f21
! base08: #c82829
! base09: #f5871f
! base0A: #eab700
! base0B: #718c00
! base0C: #3e999f
! base0D: #4271ae
! base0E: #8959a8
! base0F: #a3685a

rofi.icon-theme: papirus
rofi.theme: base16-tomorrow

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #e0e0e0, #e0e0e0, #ffffff

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #e0e0e0, #4d4d4c, #e0e0e0, #e0e0e0, #1d1f21
rofi.color-active:  #e0e0e0, #4271ae, #e0e0e0, #e0e0e0, #4271ae
rofi.color-urgent:  #e0e0e0, #c82829, #e0e0e0, #e0e0e0, #c82829

! Set the desired separator style
rofi.separator-style: solid

! Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)
#define base00 #1d1f21
#define base01 #282a2e
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #cc6666
#define base09 #de935f
#define base0A #f0c674
#define base0B #b5bd68
#define base0C #8abeb7
#define base0D #81a2be
#define base0E #b294bb
#define base0F #a3685a

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
