#
#                        ███╗   ███╗██████╗ ██╗   ██╗
#                        ████╗ ████║██╔══██╗██║   ██║
#                        ██╔████╔██║██████╔╝██║   ██║
#                        ██║╚██╔╝██║██╔═══╝ ╚██╗ ██╔╝
#                        ██║ ╚═╝ ██║██║      ╚████╔╝
#                        ╚═╝     ╚═╝╚═╝       ╚═══╝
#
# Video
{{ if (eq .chezmoi.hostname "pergamon") -}}
hwdec=no
opengl-pbo=yes
deband=yes
deband-iterations=4
deband-threshold=20
deband-grain=64
deband-range=16
{{ else }}
hwdec=auto
{{- end }}

dither-depth=auto
temporal-dither=yes

# Processing
{{ if (eq .chezmoi.hostname "pergamon") -}}
scale=ewa_lanczossharp
dscale=mitchell
linear-downscaling=yes
cscale=mitchell
sigmoid-upscaling=yes
{{- end }}

# Colorspace
target-prim=auto
target-trc=auto
# vf=format=colorlevels=full:colormatrix=auto
video-output-levels=full

# Cache
cache-pause-wait=5
cache-pause-initial=yes

# Audio
ao=alsa
# af=lavfi="aformat=sample_fmts=s16|s32:channel_layouts=stereo"
volume=100

# preferred audio lang
alang=jpn,jp,eng,en,fre,fr,fn,fin,und,ger,de

# Subs
# looks
sub-font="Roboto Medium"
sub-font-size=44
sub-color="#CCc5c8c6"
sub-border-color="#901d1f21"
sub-shadow-color="#331d1f21"
sub-border-size=2
sub-shadow-offset=1.2
sub-blur=0
sub-spacing=0.7
sub-pos=88
blend-subtitles=yes

# subs are off by default
no-sub-visibility

# preferred sub lang
slang=eng,en,jpn,jp,fre,fr,fn,fin

# OSD & UI
border=no
osc=no
title="mpv - ${media-title}"

# misc
# watch later
watch-later-directory="~/.cache/mpv/watch_later/"
ignore-path-in-watch-later-config=yes
write-filename-in-watch-later-config=yes

# screenshots
screenshot-template="%F-%p"
screenshot-directory="~/media/screenshots/"
screenshot-format=png
screenshot-png-compression=8

# terminal
audio-display=no
msg-module # log module name
msg-color # color log messages in terminal
term-osd-bar # display progress bar in terminal

# other
stop-screensaver=yes
load-stats-overlay=no

# youtube-dl
ytdl-format=bestvideo[height<=?1440][vcodec!*=vp9][vcodec!*=av01]+bestaudio/best

# Profiles
[default]
profile-cond=height < 1080
video-sync=display-resample
interpolation=yes
tscale=oversample

[4k]
profile-cond=height > 1080
deband=no
# END
